.weather {
  place-self: center;
  padding: 40px;
  border-radius: 20px;
  background-image: linear-gradient(145deg, #2f4680, #500ae4);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 20px 20px 60px #1f3259;
}
.searchbar {
  display: flex;
  align-items: center;
  gap: 12px;
}
.searchbar input {
  height: 50px;
  border-radius: 40px;
  padding-left: 25px;
  border: none;
  outline: none;
  color: #626262;
  font-size: 18px;
  background: #ebfffc;
}

.searchbar img {
    width : 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
